extends header.pug

block content
    div.conteiner#conteiner
        div#conteinerForm
            form(action="", method="post" enctype="application/x-www-form-urlencoded" )#form.form.flex
                input(type="button" value="flecha izq")#arrowLeft
                input( type="text" name="pokemoName" placeholder="Pokemon name*")#name
                div(hidden)
                    input(type="number" name="height" placeholder="Pokemon Height*")#height
                    input( type="number" name="weight" placeholder="Pokemon Weight*")#weight
                div(hidden) 
                    input( type="url" name="sprites" placeholder="Pokemon img*")#img
                    input( type="url" name="sprites" placeholder="Pokemon shiny*")#imgShiny
                    input( type="url" name="sprites" placeholder="Pokemon back img")
                    input( type="url" name="sprites" placeholder="Pokemon shiny back img")
                div(hidden)
                    input(type="number" name="stats" min="1" max="255" placeholder="Pokemon hp*")#hp
                    input(type="number" name="stats" min="1" max="255" placeholder="Pokemon attack*")#attack
                    input(type="number" name="stats" min="1" max="255" placeholder="Pokemon defense*")#defense
                    input(type="number" name="stats" min="1" max="255" placeholder="Pokemon special Attack*")#specialAttack
                    input(type="number" name="stats" min="1" max="255" placeholder="Pokemon special Defense*")#specialDefense
                    input(type="number" name="stats" min="1" max="255" placeholder="Pokemon speed*")#speed
                div(hidden)
                    select(name="types" placeholder="Pokemon type*")#type
                        option(value=``) Types
                        each value of locals.types.results
                            if (value.name !== 'unknown')
                                option(value=`${value.name}`)= value.name
                    select(type="text" name="types" placeholder="Pokemon second type")
                        option(value=``) Types
                        each value of locals.types.results 
                            if (value.name !== 'unknown')
                                option(value=`${value.name}`)= value.name
                div(hidden)#evoChainName
                    input(type="button", value="+")#evoButton
                    input(type="text" name="evoChainName" placeholder="pokemon name to which it will evolve")
                div(hidden)#abilities
                    input(type="button", value="+")#abilitiesButton
                    select(name="ability") 
                        option(value="Ability") Ability
                        option(value="Ability Ocult") Ability ocult
                    input(type="text" name="abilities" placeholder="Pokemon abilitie*")#abilities
                div(hidden)#moves
                    input(type="button", value="+")#movesButton
                    input( type="text" name="moves" placeholder="Pokemon moves*")#moves
                div(hidden)
                    input(type="number" name="rate" placeholder="Pokemon rate*")#rate
                    input(type="text" name="description" placeholder=" Pokemon Description*")#descrp
                    input(type="text" name="habitat" placeholder="Pokemon Habitat*")#habitat
                div(hidden)#varierities
                    input(type="button", value="+")#varieritiesButton
                    input(type="text" name="varierities" placeholder="Pokemon Varieritie")
                div(hidden)
                    label(for="leg") Legendary 
                    input(id="leg" type="checkbox" name="legendary")
                    label(for="myt") Mythical 
                    input(id="myt" type="checkbox" name="mythical")
                input(type="button" value="flecha der")#arrow_Right
            input( type="submit" value="Submit" form="form")
    script(type="module" src="/Public/Js/form.js") 
    script(type="module" src="/Public/Js/Listeners.js") 
    include footer.pug