block content
footer(class="footer")
    div(class="footer_box-logos")
        a(href="")
            img(class="footer_logos" src="Public/Assets/img/GitHub-Logo.png" alt="Git") 
            p Git link
    div(class="footer_box-logos")
        a(href="")
            img(class="footer_logos" src="Public/Assets/img/Linkedin-In-Logo.png" alt="LinkedIn")
            p LinkedIn link
