block content
footer.footer.flex
    div.footer_box.flex
        a( href="https://github.com/FedericoF03").footer_links.flex
            img( src="/Public/Assets/GitHub-Logo.png" alt="Git").footer_logos.flex
            p Git
    div.footer_box.flex
        a( href="https://www.linkedin.com/in/federico-fernandez-ff/").footer_links.flex
            img(src="/Public/Assets/Linkedin-In-Logo.png" alt="LinkedIn").footer_logos.flex
            p LinkedIn
