extends header.pug

block content
    div.conteiner#conteiner
        p.form.flex= `The pokemon with the name '${body.pokemoName}' was added successfully`
            a(href="/Pokedex").go-link Go to Pokedex
            a(href="/PokemonAdd").go-link.go-request add another
            
    include footer.pug