extends header.pug

block content
    div.conteiner#conteiner
        p.form.flex Su pokemon fue añadido con exito 
            a(href="/Pokedex") volver
            a(href="/PokemonAdd") Agregar otro
            
    include footer.pug