extends header.pug

block content
    div.conteiner#conteiner
            p.box-poke__name-poke.center= `there is no pokemon: `
                a(href="/Pokedex")=`${locals.pokemonData}`
    include footer.pug