extends header.pug

block content
    div.conteiner#conteiner
        div.null
            a(href="/Pokedex").align-text--center.null-link  Pokedex Empty try with other parameters
    include footer.pug