* {
    margin: 0;
    font-family: 'Exo 2', Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
    text-decoration: none;
}


.home-background {
    width: 100%;
    height: 100vh;
    background-image: url('../Assets/probando.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-conteiner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.conteiner-logotype {
    position: relative;
    width: 70%;
    margin: 5px auto;
}

.conteiner-logotype__logotype { width: 100%; }

.conteiner-logotype__logotype--effect {
    position: absolute;
    top: 0;
    left: 0;
}

.home-conteiner__title {
    width: max-content;
    margin: 0 auto;
    font-size: 2rem;
    animation: animation-title 3s infinite;
}

.home-conteiner__title > a { 
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}

.home-conteiner__title > a:visited { color: #000000; }

.home-conteiner__title>a::before {
    content: "<";
    animation: animation-title 3s infinite;
}

.home-conteiner__title>a::after {
    content: ">";
    animation: animation-title 3s infinite;
}

@keyframes animation-title {
    0%{transform: scale(1.2);}
    50%{transform: scale(1.4);}
    100%{transform: scale(1.2);}
}

.nav {
    width: 100%;
    height: 10vh;
    background-color: #CC0B0B;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav__logo { height: 100%; }

.nav__conteiner-search {
    width: min-content;
    justify-content: center;
}

.search__input-search {
    max-width: 80%;
    border: none; 
    padding: 2px 3px;
}

.search__input-search:focus-visible { outline: none; }

.search__input-button {
    border: none;
    width: 20px;
    background: url('../Assets/lupa.png') no-repeat #FF5353;
    background-size: contain;
    padding: 2px;
    border-radius: 0 8px 8px 0;
    box-sizing: content-box;
    cursor: pointer;
}

.search__input-button:hover { background-color:  #7f2323; }



.conteiner-mode {
    background-color: #FF3030;
    color: #ffff;
    border: none;
    padding: 0.4rem;
    cursor: pointer;
}

.nav__conteiner-mode--desactivate {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0 8px 8px 0;
    padding: 0.4rem;
}

.conteiner {
    height: 80vh;
    overflow-y: auto;
    background: url('../Assets/background.jpg') no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.conteiner-pokedex__conteiner-filters { justify-content: space-between; }

.conteiner-filters__conteiner-limits {
    background-color: #384178;
    padding: 0.5rem 1rem;
    border-radius: 0 0 15px 0;
    width: 50%;
    max-width: min-content;
}

.limits__box {
    background-color: #232A54;
    border-radius: 15px;
    padding: 0.5rem;
    gap: 5px;
}

.input__limits {
    border: none;
    background: url('../Assets/limit.png') no-repeat center;
    background-size: contain;
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.types__box {
    flex-direction: column;
    width: 50%;
    max-width: 350px;
}

.select__type {
    border-radius: 50px;
    position: relative;
}

.select__order {
    width: 50%;
    max-width: 200px;
    border-radius: 15px;
    margin-left: 50%;
    cursor: pointer;
}

.main {
    flex-direction: column;
    gap: 25px;
}

.card-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.conteiner__pokes {
    flex-direction: column;
    gap: 25px;
    margin: 15px 0
}

.conteiner__pokes__box-poke {
    max-width: 300px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box-poke__name-poke {
    color: #FFFFFF;
    background-color: #050505da;
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
}

.box-poke__name-poke--margin { margin: 15px 0;}

.box-poke__img-poke { 
    max-width: 200px; 
    width: 100%;
    cursor: pointer;
}

.box-poke__img-poke:hover { 
    transform: scaleX(-1);
}



.box-poke__input-poke {
    flex-direction: column;
    align-items: center;
}

.input-poke__link {
    text-align: center;
    position: relative;
    top: 0.1rem;
    text-decoration: none;
    color: #FFFFFF;
}

.input-poke__link:hover {
    animation: rotate 3.5s infinite .1s;
}



@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}

.input-poke__link-img { width: 80px; }

.conteiner-pagination {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pag_now {
    filter: brightness(300%);
}

.arrow-top {
    max-width: 50px;
    position: fixed;
    bottom: 15vh;
    right: 0;
    display: none;
}

.conteiner-pagination__box-pagination {
    background-color: #21293E;
    padding: 0.5rem 0.4rem;
    border-radius: 15px;
    gap: 5px;
    max-width: max-content;
    height: min-content;
    justify-content: flex-start;
}

.box-pagination__pag-button {
    background: url('../Assets/pag.png') no-repeat center;
    background-size: cover;
    margin: 0;
    height: 25px;
    border-radius: 50px;
    padding: 0;
    font-weight: 900;
    border: 0.1rem solid #8b8b8b;
    min-width: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.conteiner-pagination__add-db {
    position: fixed;
    bottom: 15vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    height: 10vh;
    justify-content: space-around;
    background-color: #CC0B0B;
    align-items: center;
}

.footer_links {
    flex-direction: column;
    align-items: center;
    color: black;
}

.footer_box {
    flex-direction: column;
    align-items: center;
}

.fav_icon {
    max-height: 30px;
}

.footer_logos { max-width: 25px; }

/* White back */

.background-white {
    background-color: #ffffffd9;
    width: 90%;
    max-width: 500px;
    margin: auto;
    box-shadow: inset 0px 4px 15px 7px rgb(0 0 0 / 53%);
    flex-direction: column;
    padding: 20px 0;
    position: relative;
}

.background {
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 1rem;
}

.conteiner-pokemon {
    max-width: 300px;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.conteiner-pokemon__box-pokemon {
    align-items: center;
    width: 90%;
    position: relative;
}

.modal {
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: #142716cc;
    width: 100%;
    height: 80vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-text {
    padding: 30px 20px;
    margin: 5px;
    border-radius: 50px;
    box-sizing: border-box;
}

.fav-button {
    width: 33%;
    padding: 0;
    border-radius: 50px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.fav-button--radius {
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    cursor: pointer;
}

.fav-button__fav-logo { 
    width: 100%;
    height: 100%;
}

.shiny-fav-buttons { 
    flex-direction: column;
    width: 33%;
    display: flex;
    gap: 10px;
}

.pokemon-data {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 0.2rem;
    width: 90%;
    text-align: center;
}

.background-data {
    width: 90%;
    max-width: 330px;
    border-radius: 8px;
    text-align: center;
    padding: 0.5rem;
}

.moves-data {
    width: 90%;
    max-width: 330px;
    height: 166px;
    border-radius: 8px;
    overflow-y: auto;
    text-align: center;
    padding: 0.5rem;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}

.moves-data > p:nth-child(even) {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    padding: .2rem 0;
}

.types { width: 49%; }

.conteiner-varierities {
    gap: 5px;
    width: 50%;
    flex-direction: column;
    height: max-content;
    overflow-y: auto;
}

.title { 
    text-align: center;
    margin: 15px 0;
    font-family: 'Press Start 2P', 'Exo 2', Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
}

.box-stat {
    flex-direction: column;
    gap: 15px;
}

.bar-background {
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

.bar-front {
    width: 0%;
    transition: width 2.5s;
    height: 20px;
    border-radius: inherit;
}

.bar-background--green { background-color: #57fa6a; }

.bar-front--green { background-color: #18f331; }

.bar-background--red { background-color: #fa5757; }

.bar-front--red { background-color: #f31818; }

.bar-background--blue { background-color: #576dfa; }

.bar-front--blue { background-color: #182af3; }

.bar-background--orange { background-color: #fa8b57; }

.bar-front--orange { background-color: #f36518; }

.bar-background--light-blue { background-color: #57d7fa; }

.bar-front--light-blue { background-color: #18a6f3; }

.bar-background--pink { background-color: #fa57c9; }

.bar-front--pink { background-color: #f3189f; }

.stat-text { 
    width: max-content;
    margin-left: 10px;
 }

.flex { display: flex; }

.box-evolution {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}


.box-evolution__pokemon {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}

.arrow {
    max-width: 50px;
    position: fixed;
    bottom: 15vh;
    right: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.1s clip-path;
    cursor: pointer;
}

.arrow-evolution { 
    transform: rotate(90deg);
    width: 20%;
    max-width: 80px;
}

.box-evolution__evolution-link {
    color: #000000;
    border: 1px solid #000000;
    outline: #000000 solid 1px;
    outline-offset: 4px;
    padding: 8px;
    font-size: 1rem;
    font-family: 'Press Start 2P', 'Exo 2', Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
    margin: 20px;
}

.box-evolution__evolution-link:hover {
    background-color: #ffffff;
}

.form {
    width: 80%;
    margin: 15px auto;
    background-color: #a52a2a;
    height: min-content;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}
/* test */
.center {
    margin: auto;
}

.add-button {
    max-width: 50px;
}

.option {
  
}

.type-button {
    width: 50%;
    max-width: 200px;
    border: #343232 solid 0.1rem;
    border-radius: 50px;
    position: relative;
    margin-right: auto; 
    cursor: pointer;
}

.ul {
    position: absolute;
    background-color: aliceblue;
    list-style: none;
    width: 50%;
    text-align: center;
    border:#767676 solid 1px;
    flex-direction: column;
    gap: 5px;
    height: 100px;
    overflow-y: auto;
    padding-inline-start: 0;
}

.ul > li, ul > li >a:visited, ul > li > a:active, ul > li > a {
    color: #000000;
    padding: 5px 0;
}


.ul > li:hover {
    background-color: #26A0DA;
}

.nones {
    display: none;
}

.test2arrow {
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
}

.back-arrow--grey {
    background-color: #DEDEDE
}

.buttontest {
    border: none;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.add-test-title {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
}

.center {
    text-align: center;
}

.addzone {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-form {
    border: none;
    background-color: #000000;
    color: #7A7A7A;
    padding: 5px;
    margin-bottom: 5px;
    width: 90%;
    min-width: max-content;
    
    
}

.text-form:focus-visible, .text-formv:focus-visible {
    outline: none;
    border: none;
}

.text-formv:focus-visible::placeholder, .text-form:focus-visible::placeholder {
    background-color: #18a6f3;
    color: #ffffffff;
}

.text-formv::placeholder, .text-form::placeholder  {
    background-color: #18a6f3;
    color: #ffffffff;
    padding: 4px;
}

.text-formv {
    border: none;
    background-color: #000000;
    color: #7A7A7A;
    padding: 5px;
    margin-bottom: 5px;
    min-width: max-content;
}

.arrowbuttonstest {
    background-color: #C52831;
    padding: 8px 4px;
    border: #675854 groove  2px;
    color: #ffffffff;
    font-size: xx-small;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.arrowbuttonstest:hover {
    background-color: #c2161e;
}

.subform {
    background-color: #3287C3;
    background-image: url('../Assets/testback.png');
    background-size: cover;
    border: black groove 2px;
    border-radius: 10px;
    padding: 10px;
    color: #ffffffff;
    cursor: pointer;
}

.subform:hover {
    filter: brightness(1.4);
}

.abilitiesform {
    margin: 0 5px;
}


.errform {
    background-image: url('../Assets/suss.png');
    position: relative;
    background-size: cover;
    top: 15px;
    color: #ffffff;
    padding: 5px;
    
}

.size50 {
    width: 50%;
}

.size60 {
    width: 60%;
}

.ability {
    color: #ffffff;
    margin-right: 5px;
    width: 50%;
}

.ability_ocult {
    color: #ffffffa1;
    width: 50%;
    margin-right: 5px;
}

.ability-p {
    width: 50%;
    height: 1.5rem;
    overflow: auto;
}

.ability-pv2 {
    width: 50%;
    overflow: auto;
}

.var {
    width: 100%;
}

.botontesttest {
    background-color: #80D860;
    border: none;
    border-radius: 2px;
    padding: 0px 10px;
    font-weight: 900;
    margin-bottom: 5px;
    cursor: pointer;
    /* position: relative; */
    /* bottom: 10px; */
    font-size: xx-large;
    text-align: center;
}

.botontesttest:hover {
    background-color: #52df1f;
}

.testNow {
    background-color: #000000;
}

.select__typev2 {
    max-width: 200px;
    border-radius: 50px;
    position: relative;
}

.ul2 { 
    top: 100%;
    width: 100%;
}


.testing-wrap {
    flex-wrap: wrap;
}


.field-p {
 color: #ffffff;
}

.field-span {
    color: #000000;
}

.testing__go-Pokedex {
    color: white;
    background-color: black;
    padding: 0.5rem;
    margin: 5px 3px;
}

.testing__go-request { background-color: #198200; }

.fon-small {
    font-size: 1rem;
}


.testing {
    color: #FFFFFF;
    background-color: #050505da;
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.home-title-effect {
    z-index: 99;
    filter: brightness(1.5);
    animation-name: bright;
    animation-duration: 1.2s;
    clip-path: polygon(10% 0, 20% 0, 10% 100%, 0 100%);
    animation-iteration-count: infinite;
}

@keyframes bright {
    0% {clip-path: polygon(10% 0, 20% 1%, 12% 100%, 0 100%);}
    100%{clip-path: polygon(140% 0, 150% 0, 120% 100%, 100% 100%);}
}